<h1>Events#index</h1>

<div>
  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %>!</p>
  <% end %>

  <h3>Upcoming Events</h3>
  <% if @events.upcoming.any? %>
    <ul>
      <% @events.upcoming.each do |event| %>
        <li>
          <strong><%= link_to event.title, event %></strong>
          at <%= event.location %>
          on <%= event.event_datetime.strftime("%B %d, %Y %H:%M") %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No upcoming events.</p>
  <% end %>

  <h3>Past Events</h3>
  <% if @events.past.any? %>
    <ul>
      <% @events.past.each do |event| %>
        <li>
          <strong><%= link_to event.title, event %></strong>
          at <%= event.location %>
          on <%= event.event_datetime.strftime("%B %d, %Y %H:%M") %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No past events.</p>
  <% end %>
</div>

