<h1>Events#show</h1>

<h2><%= @event.title %></h2>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Date & Time:</strong> <%= @event.event_datetime.strftime("%B %d, %Y %H:%M") %></p>
<p><strong>Created by:</strong> <%= @event.creator.email %></p>
<p><strong>Privacy:</strong> <%= @event.private? ? "Private" : "Public" %></p>
<p></p>

<% if current_user == @event.creator %>
  <%= button_to "Edit Event",   edit_event_path(@event), method: :get %>
  <%= button_to "Delete Event", event_path(@event),      method: :delete %>
  <%= button_to "Invite User", new_event_event_invitation_path(event_id: @event.id), method: :get %>
<% end %>

<% if current_user.attended_events.include?(@event) %>
  <%= button_to "Cancel Attendance", event_attendance_path(@attendance), method: :delete %>
<% else %>
  <%= button_to "Attend Event", event_attendances_path(event_id: @event.id), method: :post %>
<% end %>

<h2>Attendees</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>